.content {
    text-align: center;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    margin-top: 15rem;
    color: white;
    text-shadow: 2px 2px #333333;
}

img {
    height: 20rem;
    width: 20rem;
    border-radius: 25px;
}

body {
    background: linear-gradient(to left,
            rgba(255, 255, 255, 0.1) 20%,
            rgba(255, 255, 255, 0.3)),
        url("background.jpg");
    background-position: center;
}

a {
    font-size: 2rem;
    text-decoration: none;
}

a:link {
    color: white;
}

a:visited {
    color: white;
}

a:hover {
    color: lightgrey;
}

a:active {
    color: white;
}
